p{
	color: #818581;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}

.btn{
	width: 200px;
	height: 60px;
}
.bg-img{
	background-image: url("../img/31.jpg");
	width: 100%;
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.topnav{
	overflow: hidden;
}
.overlap-img{
	height: 600px;
	width: 300px;
	border-radius: 10%;

}
.shadow-lg{
	-webkit-box-shadow:0 10px 6px -6px #777;
	-moz-box-shadow:0 10px 6px -6px #777;
	box-shadow:0 10px 6px -6px #777;
}

.center-img{
	height: 580px;
	width: 550px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.vertical-line{
	border-left: 1px solid #c9c8c3;
	height: 152px;
}
.center-img2{
	height: 500px;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.btn-size{
	width: 150px;
	height: 50px;
}
.card-width{
	width: 350px;
}
.container-width{
	width: 960px;
}
.user-img{
	width: 80px;
	height: 80px;
}
.btn-size{
	height: 45px;
}
.accordion{
	max-width: 960px;
	background-color: #e6e6e6;
}
.accordion-item, .accordion-header{
	background-color: #e6e6e6;

}
.accordion, .accordion-item{
	border: 0px;
}
.accordion-button{
	background-color: #e6e6e6;
}
.heading-1{
	font-size: 50px;
}
a.btn-google, a.btn-apple{
	color:#fff
}
.btn-1{
	padding:10px 16px;
	margin:5px;
	font-size:18px;
	line-height:1.3;
	border-radius:6px;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	border:1px solid transparent;
	font-weight:500;
	text-decoration:none;
	display:inline-block
}
.btn:active:focus,.btn:focus{
	outline:0
}
.btn:focus,.btn:hover{
	color:#333;
	text-decoration:none;
	outline:0
}
.btn:active{
	outline:0;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}
.btn-google, .btn-apple{
	color:#fff;
	background-color:#111;
	border-color:#000;
	padding:15px 16px 5px 40px;
	position:relative;
	font-family:fontfutura;
	font-weight:600;
}
.btn-google:focus{
	color:#fff;
	background-color:#555;
	border-color:#000;
}
.btn-google:active,.btn-google:hover{
	color:#fff;
	background-color:#555;
	border-color:#000;
}
.btn-google:before{
	content:"";
	background-image:url(https://4.bp.blogspot.com/-52U3eP2JDM4/WSkIT1vbUxI/AAAAAAAArQA/iF1BeARv2To-2FGQU7V6UbNPivuv_lccACLcB/s30/nexus2cee_ic_launcher_play_store_new-1.png);
	background-size:cover;
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	left:6px;
	top:50%;
	margin-top:-15px;
}
.btn-google:after{
	content:"GET IT ON";
	position:absolute;
	top:5px;
	left:40px;
	font-size:10px;
	font-weight:400;
}
/*]]>*/
.apple{
	color: white;
}
.circle-icon {
    background: #f8c4c4;
    width: 90px;
    height: 85px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 15px;
}
.blu-color{
	background-color: #cdeaec;
}
.green-color{
	background-color: #d7f6e2
}
.yellow-color{
	background-color: #fffdb8;
}
.grey-color{
	background-color: #f2f2f0;
}
