.heading{
	font-family: serif;
	font-size: 40px;
	font-weight: 600; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.card{
	max-width: 600px;"
}
.image-thumbnail{
	width: 200px;
	height: 225px;
}
.color-g{
	color: green;
}
pre code{
	float: left;
}
.blog-post{
	padding-bottom: 2rem;
}
.blog-buttons{
	padding-bottom: 2rem;
}
.btn{
	border-radius: 50px;
}
.blog-footer{
	background-color: #edf2ef;
	text-align: center;
	padding: 3rem;
	border-top: 2px solid #e1e8e4;
}
.position-sticky{
	top: 2rem;
}